/* Import partial styles */
@import "partials/navbar.scss";
@import "partials/previous-searches.scss";
@import "partials/footer.scss";
@import "partials/animations.scss";

/* Reset default margin, padding, and box-sizing */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }

 /* Define global CSS variables */
 :root {
   --background-color: white;
   --background-light: white;
   --shadow-color: rgba(0, 0, 0, 0.2);
   --primary-color: rgba(255, 0, 86);
   --text-color: black;
   --text-light: #575757;
   --font-size: 16px;
   --animation-speed: 1;
 }


 /* Function to calculate animation duration */
 @function getAnimationDuration($duration: number) {
 @return calc(#{$duration} * var(--animation-speed));
 }

 /* Body styles */
 body {
   font-size: var(--font-size);
   font-family: 'Roboto', sans-serif;
   padding-top: 55px;
   background-color: var(--background-light);
 }

 a {
   text-decoration: none;
 }

 /* Styles for the options container */
 .options.container {
   box-shadow: 0 5px 10px var(--shadow-color);
   padding: 1em;
   border-radius: 5px;
   border-left: 0.5em solid var(--primary-color);
   background-color: var(--background-light);
   margin-top: 1em;
   display: flex;
   gap: 1em;
   .option {
     height: 3.5em;
     width: 3.5em;
     box-shadow: 0 3px 6px var(--shadow-color);
     border-radius: 5px;
     display: flex;
     justify-content: center;
     align-items: center;
     &.light {
       background-color: white;
     }
     &.dark {
       background-color: rgb(29, 29, 29);
     }
     .check {
       height: 2.5em;
       width: 2.5em;
       background-color: var(--primary-color);
       border-radius: 50%;
       display: flex;
       justify-content: center;
       align-items: center;
       box-shadow: 0 2px 5px var(--shadow-color);
       svg {
         height: 1.5em;
         width: 1.5em;
       }
     }
   }
   .btn span {
     display: inline-block;
     margin-left: 0.5em;
   }
 }

 .d-block h2 {
   font-size: 1.75em;
   color: var(--text-color);
 }

 .container {
   padding-inline: 25vw;
 }

 /* Media queries for responsive design */
 @media screen and (max-width: 1280px) {
   .container {
     padding-inline: 18vw;
   }
 }

 @media screen and (max-width: 1050px) {
   .container {
     padding-inline: 12vw;
   }
 }

 @media screen and (max-width: 768px) {
   .navbar {
     .nav-links {
       display: none;
     }
     .sidebar-btn {
       display: block;
     }
   }
   .container {
     padding-inline: 6vw;
   }
   .footer {
     grid-template-columns: repeat(4, 1fr);
     .footer-section:nth-child(1) {
       grid-column: span 4;
     }
     .footer-section:nth-child(2),
     .footer-section:nth-child(3) {
       grid-column: span 2;
     }
   }
 }

 @media screen and (max-width: 480px) {
   .container {
     padding-inline: 3vw;
   }
 }



