/* Styling for the previous searches section */
.previous-searches {
    display: block;
 
/* Styling for the heading of previous searches */
    h2 {
      color: var(--text-color);
      margin-bottom: 0.5em;
    }
   
  /* Styling for the container of previous search items */
    .previous-searches-container {
  /* Styling for each individual search item */
      .search-item {
        background-color: var(--primary-color);
        display: inline-block;
        padding: 0.5em 1em;
        margin: 0 1em 1em 0;
        color: white;
        border-radius: 30px;
        box-shadow: 0 3px 6px var(--shadow-color);
        transform: translateX(100%);
        opacity: 0;
        animation: getAnimationDuration(0.5s) slideInRight forwards;
      }
    }
 
  /* Styling for the search box */
    .search-box {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      height: 35px;
 
  /* Styling for input and button in the search box */
      input, .btn {
        height: 35px;
      }
 
  /* Styling for the search input field */
      input {
        min-width: 250px;
        padding: 0 0.5em;
        border-radius: 5px 0 0 5px;
        outline: none;
        border: 1px solid #4d4d4d;
      }
   
  /* Styling for the search button */
      .btn {
        padding-block: 0;
        padding-inline: 0.75em;
        border-radius: 0 5px 5px 0;
      }
    }
  }
 




